   h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 22px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 500;
      margin-bottom: 30px;
  } 

  .feature {
  	margin:30px 0px;
  }

  .indianred {
  	color:indianred;
  }

  .star-light.indianred {
  	border-color:indianred;	
  }

  .star-light.text-primary {
  	border-color:#337ab7;	
  }

	.star-light.text-success {
  	border-color:#3c763d;	
  }  