  p {
    color:#818181;
  }
  
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 22px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 500;
      margin-bottom: 30px;
  } 

  .feature {
    padding:40px 10px;
    margin:20px 30px;
    border-radius: 4px;
  	
    border: 1px solid #d8d8d8;
  
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }

  .feature p {
    height: 56px;
  }

  .card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

  .indianred {
  	color:indianred;
  }

  .star-light.indianred {
  	border-color:indianred;	
  }

  .star-light.text-primary {
  	border-color:#337ab7;	
  }

	.star-light.text-success {
  	border-color:#3c763d;	
  }

  .bg-gray {
    background-color: #f6f6f6; 
  }

  .bottom {
    margin-top: 30px;
  }